.u-section-1 {
  background-image: url("images/gr4.png");
  background-position: 0% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 998px;
}

.u-section-1 .u-image-1 {
  width: 543px;
  height: 511px;
  object-position: 50% 6.59%;
  background-position: 50% 6.59%;
  animation-duration: 2000ms;
  margin: 114px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 482px;
  min-height: 426px;
  animation-duration: 1500ms;
  margin: -438px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: linear-gradient(to right, #f1b5b8, white);
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 12px auto 4px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 399px;
  background-image: none;
}

.u-section-1 .u-group-2 {
  width: 336px;
  min-height: 302px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 15px auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 399px;
}

.u-section-1 .u-group-3 {
  width: 336px;
  min-height: 302px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 15px auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 399px;
}

.u-section-1 .u-group-4 {
  width: 336px;
  min-height: 302px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 15px auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-image-1 {
    width: 538px;
    height: 572px;
    margin-top: 28px;
  }

  .u-section-1 .u-group-1 {
    width: 527px;
    margin-top: -311px;
    margin-left: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-group-2 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-group-3 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-1 .u-group-4 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-image-1 {
    width: 417px;
    height: 465px;
    margin-top: 52px;
  }

  .u-section-1 .u-group-1 {
    width: 455px;
    margin-top: -335px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-4 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-image-1 {
    height: 464px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 340px;
    width: 498px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 28px;
    margin-left: auto;
    margin-bottom: 52px;
  }

  .u-section-1 .u-group-2 {
    width: 500px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 64px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 35px;
  }

  .u-section-1 .u-group-3 {
    width: 500px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 35px;
  }

  .u-section-1 .u-group-4 {
    width: 500px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-image-1 {
    height: 431px;
    margin-top: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 377px;
    width: 340px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 0;
    margin-bottom: 49px;
  }

  .u-section-1 .u-group-2 {
    width: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 49px;
  }

  .u-section-1 .u-group-3 {
    width: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 49px;
  }

  .u-section-1 .u-group-4 {
    width: 292px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 49px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-text-1 {
  width: 237px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 37px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 0 421px 0 408px;
}

.u-section-2 .u-text-4 {
  margin: 37px auto 0;
}

.u-section-2 .u-text-5 {
  width: 406px;
  margin: 8px auto 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: 321px;
    margin-left: 308px;
    margin-right: 321px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 7px;
  }

  .u-section-2 .u-text-5 {
    width: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-left: 198px;
    margin-right: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 121px;
    margin-left: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 97px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 35px 20px 23px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 236px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 230px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 7px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 72px;
  width: 164px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 230px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  margin: -45px auto 0 137px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 118px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 54px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 270px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 7px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 8px 33px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 270px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 7px;
}

.u-section-6 .u-custom-html-1 {
  width: 189px;
  min-height: 75px;
  margin: 76px auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-6 .u-btn-1 {
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 208px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 307px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 40px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 7px;
}

.u-section-7 .u-custom-html-1 {
  width: 189px;
  min-height: 75px;
  margin: 76px auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-7 .u-btn-1 {
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 206px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 97px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 35px 20px 23px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 201px;
}

.u-section-9 .u-text-1 {
  width: 338px;
  margin: 40px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 28px auto 60px;
}